{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "no-var": "warn",
    "no-undef": "off",
    "max-len": "off",
    "func-names": "off",
    "no-unused-expressions": "off",
    "prefer-arrow-callback": "warn",
    "no-param-reassign": "off",
    "new-cap": "off",
    "react/prefer-stateless-function": "off",
    "no-console": "off",
    "react/prefer-es6-class": "off",
    "react/prop-types":"off",
    "react/jsx-no-bind": "off",
    "arrow-body-style":"off",
    "no-trailing-spaces":"off",
    "spaced-comment":"warn",
    "comma-dangle":"warn",
    "no-multiple-empty-lines":"warn",
    "quotes":"warn",
    "space-before-function-paren":"warn",
    "no-new":"off",
    "no-unused-vars": "warn",
    "array-callback-return": "off",
    "consistent-return":"off",
    "no-else-return":"off",
    "semi":"warn"
  }
}
